#text{
	margin: auto auto 50px auto;
}
#text h1{
	font-size: 30px;
}
#text img {
	display: block;
	margin: 15px auto 15px auto;
}

#text p {
	text-indent: 2em;
	margin: 2px auto 2px auto;
}

#text table {
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

#text table td, table th {
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 3px 5px;
}

#text table th {
	border-bottom: 2px solid #ccc;
	text-align: center;
}

#text blockquote {
	display: block;
	border-left: 8px solid #d0e5f2;
	padding: 5px 10px;
	margin: 10px 0;
	line-height: 1.4;
	font-size: 100%;
	background-color: #f1f1f1;
}

#text ul, ol {
	margin: 10px 0 10px 20px;
}
#text img {
	align: center;
	display: block;
	margin: 10px auto 10px auto;
}

#title p {
	text-indent: 2em;
}
#text table {
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

#text table td, table th {
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 3px 5px;
}

#text table th {
	border-bottom: 2px solid #ccc;
	text-align: center;
}

#text blockquote {
	display: block;
	border-left: 8px solid #d0e5f2;
	padding: 5px 10px;
	margin: 10px 0;
	line-height: 1.4;
	font-size: 100%;
	background-color: #f1f1f1;
}

#text ul, ol {
	margin: 10px 0 10px 20px;
}